h4, h3, h2, h1, p, a {
    color: white;
}

p {
    font-size: 20px;
}

h1 {
    font-size: 64px;
    font-weight: bolder;
}

h2 {
    font-size: 42px;
}

h3 {
    font-size: 32px;
}
.top {
    display: flex;
    background-color: #383838;
    flex-direction: row;
    gap: 15%;
    align-items: center;
}

.body {
    background-color: #464646;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -200px;
}

.logo {
    color: white;

}

.počátek {
    background-color: black;
    opacity: 50%;
    border-radius: 5%;
    max-width: 500px;
    max-height: 350px;
    padding: 20px;
    margin-top: 200px;
    margin-left: 20px;
    margin-right: 20px;
}


.prvnívůz {
    background-color: black;
    opacity: 50%;
    border-radius: 3%;
    max-width: 500px;
    max-height: 350px;
    padding: 20px;
    margin-top: 200px;
    margin-left: 20px;
    margin-right: 20px;
}

.motorsport {
    background-color: black;
    opacity: 50%;
    border-radius: 5%;
    max-width: 500px;
    max-height: 350px;
    padding: 20px;
    margin-top: 200px;
    margin-left: 20px;
    margin-right: 20px;
}

.vlastnictví {
    background-color: black;
    opacity: 50%;
    border-radius: 5%;
    max-width: 500px;
    max-height: 350px;
    padding: 20px;
    margin-top: 200px;
    margin-left: 20px;
    margin-right: 20px;
}

.investice {
    background-color: black;
    opacity: 50%;
    border-radius: 5%;
    max-width: 500px;
    max-height: 350px;
    padding: 20px;
    margin-top: 200px;
    margin-left: 20px;
    margin-right: 20px;
}

.současnost {
    background-color: black;
    opacity: 50%;
    border-radius: 5%;
    max-width: 500px;
    max-height: 350px;
    padding: 20px;
    margin-top: 200px;
    margin-left: 20px;
    margin-right: 20px;
}


.huracan {

}

.bottom {
    background-color: #111111;
    margin-top: -20px;
}

.links {
    display: flex;
    flex-direction: row;
    gap: 15%;
    margin: 20px;
    align-content: center;
}

.down {
    display: flex;
    flex-direction: row;
    gap: 15%;
}

.logos {
    display: flex;
    flex-direction: row;
    gap: 15%;
}




/*gallery*/

.content {
    background-color: #0b0b0b;
}